#timer {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20vh;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#image-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
