.timer-wrapper {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 100%;
}

#timer {
    text-align: center;
    color: white;
    font-size: 12em;
    text-shadow: 0.03em 0.03em #000000;
}

@media only screen and (max-width: 990px) {
    #timer {
        font-size: 23vh;
        text-shadow: 0.5vh 0.5vh #000000;
    }
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower', cursive;
}

body {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

body.dog {
    background-image: url('img/dog.svg');
}

body.cat {
    background-image: url('img/cat.svg');
}

.image-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    height: 100%;
    width: 100%;
}

#image-wrapper {
    background-size: cover;
    box-shadow:         inset 0 0 10px white;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#image {
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    height: 5vw;
    width: 5vw;
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 10px;
}

.btn-cat, .btn-dog{
    display: none;
}

body.dog .btn-cat{
    display: inline;
}

body.cat .btn-dog{
    display: inline;
}

.btn.btn-dog {
    background-image: url('img/dog.svg');
}

.btn.btn-cat {
    background-image: url('img/cat.svg');
}

.btn.btn-play {
    background-image: url('img/play.svg');
    right: 6vw;
    background-color: white;
    border-radius: 50%;
}

.btn.btn-pause {
    background-image: url('img/pause.svg');
    right: 6vw;
    background-color: white;
    border-radius: 50%;
}

@media only screen and (max-width: 990px) {
    .btn {
        height: 10vw;
        width: 10vw;
    }

    .btn.btn-play, .btn.btn-pause {
        right: 12vw;
    }
}

div#preload { 
    display: none; 
}

.btn {
    -webkit-filter: drop-shadow( 0px 0px 3px white);
    filter: drop-shadow( 0px 0px 3px white);
}
