.timer-wrapper {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 100%;
}

#timer {
    text-align: center;
    color: white;
    font-size: 12em;
    text-shadow: 0.03em 0.03em #000000;
}

@media only screen and (max-width: 990px) {
    #timer {
        font-size: 23vh;
        text-shadow: 0.5vh 0.5vh #000000;
    }
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower', cursive;
}

body {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

body.dog-theme {
    background-image: url('img/dog.svg');
}

body.cat-theme {
    background-image: url('img/cat.svg');
}

.image-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    height: 100%;
    width: 100%;
}

body.not-started .setup-form{
    display: flex; /* or inline-flex */
}

.setup-form {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    align-items: center;
}

.setup-form label{
    font-size: 2em;
    max-height: 500px;
    text-shadow: 1px 1px #FFFFFF;
}

.setup-form.setup-form-animals label{
    color: white;
    text-shadow: 1px 1px #000000;
}

.setup-form input{
    max-width: 100%;
    width: 400px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    padding-left: 25px;
}

.setup-form input.has-error{
    border-color: #dc3545;
}

.setup-form button{
    margin-top: 10px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
}

.hide{
    display: none!important;
}

#image-wrapper {
    background-size: cover;
    box-shadow:         inset 0 0 10px white;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#image {
    background-repeat: no-repeat;
    background-size: contain;
}

.controls {
    bottom: 0px;
    position: absolute;
    right: 0px;
    z-index: 100;
}

.btn {
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 3vw;
    height: 5vw;
    margin: 10px;
    text-align: center;
    width: 5vw;
}

@media only screen and (max-width: 990px) {
    .btn {
        font-size: 4vw;
        height: 10vw;
        width: 10vw;
        margin: 5px;
    }
}

.d-none {
    display: none;
}

body.dog-theme .btn-dog{
    display: none;
}

body.cat-theme .btn-cat{
    display: none;
}

.d-money {
    display: none;
}

body.money-timer .d-money{
    display: inline;
}

body.money-theme .btn-money{
    display: none;
}

body.not-started .btn,
body.not-started .d-started {
    display: none;
}

.cat-theme.not-started .btn.btn-money,
.dog-theme.not-started .btn.btn-money {
    display: inline;
}

.money-theme.not-started .btn.btn-cat,
.dog-theme.not-started .btn.btn-cat {
    display: inline;
}

.cat-theme.not-started .btn.btn-dog,
.money-theme.not-started .btn.btn-dog {
    display: inline;
}

body.dog-theme .setup-form-money,
body.cat-theme .setup-form-money {
    display: none;
}

.setup-form .setup-form-money {
    color: black;
}

body.money-theme .setup-form-animals {
    display: none;
}

div#preload { 
    display: none; 
}

a.contact-link {
    bottom: 10px;
    color: black;
    left: 10px;
    outline: none;
    position: absolute;
    text-decoration:none;
    text-shadow: 1px 1px white;
}

#apiUrl {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 10px;
}

#dashboard {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    text-align: right;
    width: 200px;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px #000000;
}
